h1 {
    color: #707070;
    background-color: none;
    text-decoration: underline;
}

.skill-set {
    display: grid;
    place-items: center;
}

.skills-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-item {
    color:#707070;
    font-size: 25px;
}

.menu-item .ul {
    list-style: none;
}

.certs-list {
    display: grid;
    place-items: center;
}

.certs-list h2 {
    color: #707070;
    text-decoration: underline;
}