.h1 {
    color:black;
    background-color: blueviolet;
}

.exp-heading {
    display: grid;
    place-items: center;
    background-color: #8aadc5 ;
}

.work-exp {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    max-height: 30%;
    background-color: #8aadc5 ;
    justify-content: space-around;
}

ul {
    list-style: none;
}

ul li {
    font-size: 30px;
}

@media screen and (max-width: 900px) {
    .h1 {
        color:black;
        background-color: blueviolet;
    }
    
    .exp-heading {
        display: grid;
        place-items: center;
        background-color: #8aadc5 ;
    }
    
    .work-exp {
        display: flex;
        flex-direction: row;
        min-width: 100%;
        max-height: 30%;
        background-color: #8aadc5 ;
        justify-content: space-around;
    }
    
    ul {
        list-style: none;
    }

    ul li {
        font-size: 20px;
    }

    .work-exp:last-child {
        margin-right: 2vw;
    }

    .work-exp:first-child {
        margin-left: 2vw;
    }

    .iowa-uni {
        margin-right: 5vw;
    }

}