.about-me {
    background-color: #54A0FF;
    width: 100%;
    height: 20%;
    place-items: center;
    display: grid;
}

h2 {
    color: white;
}

h6 {
    font-size: xx-large;
    font-weight: 600;
    color: #fff; 
    margin-top: -1vh;   
    margin-bottom: 2vh;   
}

.professional-summary {
    font-size: 25px;
    font-weight: 400;
    color: #707070; 
    margin-top: -5.5vh;
    text-align: center;   
}

@media screen and (max-width: 900px) and (min-width: 100px) {
    .about-me {
        width: 100%;
        height: 30%;
        place-items: center;
        text-align: center;
        display: grid;
        background-color: #54A0FF;
        align-self: center;
    }
}