.top-nav-links {
    display: flex;
    background-color: #54a0ff;
    height: 5%;
    justify-content: space-around;
    place-items: center;
    border-radius: 5px;
    margin-top: 0;
    list-style: none;
    position: fixed;
    top: 0;
    width: 100%;
}

.top-nav-links li {
    margin-left: 1vw;
    margin-right: 1vw;
}

.top-nav-links a {
    color: black;
}

.top-nav-links a:hover {
    color: #fff;
    cursor: pointer;
}